<mat-toolbar class="navbar">
<div class="brand" routerLink="/">
  <img src="assets/logo.png" alt="YerysBarber Logo" class="brand-logo">
  <span class="brand-title">YerysBarber</span>
</div>

  <span class="spacer"></span>

  <div class="user-zone">
    @if (authService.user$ | async; as user) {
      
      @if (user.email === ADMIN_EMAIL) {
        <div class="admin-badge">
          <mat-icon>shield</mat-icon>
          <span>ADMIN</span>
        </div>
      } 
      @else {
        <div class="user-greeting">
          <mat-icon class="user-avatar">account_circle</mat-icon>
          <span class="user-name">Hola, {{ (user.displayName || 'Usuario').split(' ')[0] }}</span>
        </div>
      }
<button mat-icon-button class="profile-btn" routerLink="/perfil" title="Mi Perfil">
        <mat-icon>settings</mat-icon>
      </button>

      <button mat-icon-button class="logout-btn" (click)="authService.logout()" title="Cerrar sesión">
        <mat-icon>logout</mat-icon>
      </button>

    } @else {
      <button mat-raised-button class="btn-login" (click)="login()">
        <mat-icon>person</mat-icon>
        <span>Entrar</span>
      </button>
    }
  </div>
</mat-toolbar>

<div class="main-content">
  <router-outlet></router-outlet>
</div>